@import url('https://fonts.googleapis.com/css2?family=Fanwood+Text&family=Quattrocento&family=Quattrocento+Sans&display=swap');

p {
    font-family: 'Quattrocento Sans', sans-serif;
}

html {
    color: #262626;
    scroll-behavior: smooth;
}

h1, h2, h3 {
    font-family: 'Quattrocento', serif;
    color: #0e3b60;
    margin: 0;
}

.title {
    padding: 10px 0;
    margin-left: 20px;
}

.city-name span {
    font-size: 1.3em;
}

.logo {
    font-size: 2em;
}

.icon {
    grid-column: 7;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav, nav button {
    font-family: 'Fanwood Text', serif;
}

nav button {
    border-radius: 5px;
    border: 1px solid #262626;
    background-color: #f7f7ff;
    padding: 5px 8px;
    font-size: 1.4em;
}

nav button:hover {
    background-color: #01b6d1;
    color: #262626;
}

header {
    background-color: #F7F7FF;
}

nav a {
    text-decoration: none;
    color: #262626;
    font-size: 1.4em;
}

nav a:hover {
    color: #01b6d1;
}

.temple-info {
    padding: 20px;
}

.temple-info a {
    color: #01b6d1;
}

footer {
    grid-row: 4;
    grid-column: 1 / 4;
}

footer {
    background-color: #f7f7ff;
    color: #0e3b60;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    padding: 15px 0;
}

footer p {
    font-size: 1.1em;
    grid-row: 3;
    grid-column: 1 / 3;
}

nav {
    grid-column: 2 / 7;
    padding: 10px 0; 
}

nav ul {
    margin: auto 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}

section.temples {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));  
    grid-template-rows: repeat(2, 1fr); 
    padding: 20px;
    grid-gap: 30px;

}

div.temple {
    padding: 20px;
    border: 1px solid #262626;
    display: grid;
    grid-gap: 10px;
}

div.temple:hover {
    background-color: #f7f7ff;
    border: 1px solid #0e3b60;
}

.address-text {
    font-weight: bold;
}

footer a {
    text-decoration: none;
}

footer a:visited {
    color: #0e3b60;
}

footer a:hover {
    color: #01b6d1;
}

section.temples {
    margin: 40px 0;
}

.temple-img {
    width: 100%;
}

.logo a {
    text-decoration: none;
}

.logo a:visited {
    color: #0e3b60;
}

div.temple p {
    margin: 0;
}

div.temple img {
    margin: 20px auto;
}

nav ul li {
    margin: 0 20px;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
    position: relative;
    grid-row: 1;
    grid-column: 1 / 4;

}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* .mySlides img {
max-height: 600px;
} */

/* Add a pointer when hovering over the thumbnail images */
.cursor {
    cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
-webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}


/* Container for image text */
.caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Six columns side by side */
.column {
    float: left;
    width: 16.66%;
}

img.city-icon{
    margin: 0;
}


.ajax-section figcaption {
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

.ajax-section .city-temp {
    font-size: 5rem;
    font-weight: bold;
    color: var(--text_dark);
    text-align: center;
}

.ajax-section .city sup {
    font-size: 0.5em;
}

.ajax-section .city-name sup {
    padding: 0.2em 0.6em;
    border-radius: 30px;
    color: var(--text_light);
    background: var(--orange);
}

.ajax-section .city-icon {
    width: 60px;
    height: 60px;
}

ul.cities {
    list-style: none;
    padding: 0;
    margin: 0;
}

@keyframes transitionIn {
    from {
        opacity: 0;
        transform: rotateX(-10deg);
    }

    to {
        opacity: 1;
        transform: rotateX(0);
    }
}

body {
    animation: transitionIn 1s;
}

.input {
    display: flex;
    flex-direction: column;
}

.input label {
    margin-bottom: 5px;
}

.full-name {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

div.input, div.select {
    margin: 8px 0;
}

input, textarea, select {
    border: 1px solid #262626;
    border-radius: 5px;
    padding: 10px 5px;
}

input, textarea, label, select {
    font-family: 'Quattrocento Sans', sans-serif;
}

.select {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.select > div.input {
    margin-right: 20px;
    margin-top: 10px;
}

div.full-name > div.input > input {
    min-width: 200px;
}

.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#button {
    border: 1px solid #262626;
    background-color: #f7f7ff;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
}

.reservation-info img {
    max-width: 300px;
}

#price {
    font-weight: bold;
    font-size: 1.3em;
}

.thanks-section {
    grid-column: 1 / 4;
    text-align: center;
    margin: 300px 0;
}

.thanks-section h1, .thanks-section h2 {
    margin: 30px 0;
}