@media (max-width: 1000px) {

    section.main {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-bottom: 60px;
    }

    header {
        grid-column: 1 / 4;
        grid-row: 1;  
        display: grid;
        grid-template-columns: repeat(6, auto);
    }

    .temple-info {
        text-align: center;
    }

    div.map {
        grid-column: 1 / 3;
        margin: 0 auto;
    }

    .temple-address {
        grid-column: 2;
        grid-row: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        background-color: #f7f7ff;
        padding: 20px;
    }

    section.ajax-section {
        grid-row: 1;
        grid-column: 1;
        margin: 0 auto;
        background-color: #f7f7ff;
        width: 100%;
    }

    .ajax-section .city-temp {
        font-size: 3.5rem;
    }

    .social-icons {
        display: flex;
        flex-direction: row;
        justify-content: end;
        align-items: center;
        grid-column: 1;
        grid-row: 2;
        padding: 10px;
    }

    .contact-info {
        text-align: start;
        grid-column: 2;
        grid-row: 2;
        padding: 10px;
    }

    .contact-info p {
        margin: 0;
    }

    footer {
        margin: 40px 0 20px 0;
        padding: 10px 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, auto);
    }

    footer > .title {
        grid-column: 1 / 3;
        grid-row: 1;
        text-align: center;
        margin: 0;
    }

    .social-icons a {
        margin: 0 10px;
    }

    footer p {
        margin: 10px 0;
    }

    figure {
        grid-column: 2;
        grid-row: 2;
        display: flex;
        flex-direction: row;
        margin: 0;
        justify-content: end;
    }

    h1, h2 {
        font-size: 1.2em;
    }

    .city-temp {
        font-size: 3rem;
        display: flex;
        justify-content: end;
        grid-column: 3;
        grid-row: 2;
        margin: auto;
    }

    sup {
        top: 0.5em;
    }

    div.temple h3 {
        text-align: center;
    }

    .temple-address h2 {
        font-size: 1.6em;
    }

    .temple-address h3 {
        font-size: 1.3em;
    }

    div.map {
        margin-top: 30px;
    }

    .city {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, auto);
    }

    section.ajax-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .city-name {
        grid-column: 2/ 4;
        grid-row: 1;
        display: flex;
        align-items: center;
        justify-content: end;

    }

    .temple-info h2 {
        font-size: 1.8em;
    }

    .icon {
        display: none;
    }

    iframe {
        width: 550px;
        height: 400px;
    }   

}

@media (max-width: 870px) {

    nav a, nav button {
        font-size: 1.2em;
    }

    div.title {
        font-size: 1em;
    }
}

@media (max-width: 689px) {

    iframe {
        width: 400px;
    }
}